<!DOCTYPE html>
<html>
  <head>
    <title>Interface</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}" />
  </head>

  <body>
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <nav id="menu">
      <div class="menu-text">
        <a href="http://relatorios.cotrasa.local">Home</a>
      </div>

      <div class="menu-text">
        <a href="http://relatoriosestoque.cotrasa.local">Estoque</a>
      </div>

      <div class="menu-text">
        <a href="http://relatoriosservico.cotrasa.local">Serviços</a>
      </div>

      <div class="menu-text">
        <a href="https://suporte.cotrasa.com.br">Suporte TI</a>
      </div>

      <br/>
      
      <div>

      </nav>

      <h1>INTERFACE PARA EMISSÃO DE RELATÓRIOS AUTOMATICAMENTE VIA BOT</h1>

     <!-- <div class="container">
        <img src="bot.gif" alt="Imagem" class="animated-image" />
      </div>-->
      
    <div class="watermark">Desenvolvido por Allan</div>
    
  </body>
</html>
